extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- list banner
	section.home-banner
		.owl-carousel.owl-theme
			.item
				img(src="./img/slider_home_01.png", alt="", srcset="")
				.title Trải nghiệm vượt trội cùng Tutto
			.item
				img(src="./img/slider_home_02.png", alt="", srcset="")
			.item
				img(src="./img/slider_home_03.png", alt="", srcset="")
			.item
				img(src="./img/slider_home_04.png", alt="", srcset="")
	//- Sản phẩm nổi bậc
	section.service
		.container
			.row.text
				.col.text-center
					h2 sản phẩm nổi bật
					span
			.row.list
				.col-sm-4.item
					figure
						img(src="./img/service_home_01.png", alt="", srcset="")
				.col-sm-4.item
					figure
						img(src="./img/service_home_02.png", alt="", srcset="")
				.col-sm-4.item
					figure
						img(src="./img/service_home_03.png", alt="", srcset="")
	//- CT khuyến mãi
	section.home-promotion
		.container
			.row
				.col
					.box
						.row
							.col-sm-6.text
								h1 chương trình khuyến mãi
								span
								p Cùng với nhiều chiết khấu và ưu đãi hấp dẫn, Totto luôn sẵn sàng đồng hành cùng bạn trên mợi chặn đường
								a.btn.btn-info(href="#") xem thêm
	//- Giới thiệu sản phầm
	section.home-form
		.container
			.row
				.col.banhxe
				.col
					.row
						.col
							figure
								img(src="./img/home_new_01.png", alt="", srcset="")
								figcaption
									h2 Giới thiệu
									span
									p Tutto Việt Nam tự hào là nhà phân phối vỏ -ruột xe cao cấp cho hàng ngàn chiếc xe trong thập kỷ qua, Với hơn 10 năm hoạt động phân phối vỏ ruột xe, Tutto thấu hiểu những gì tốt nhất cho chiếc xe của bạn. Từ những mong muốn của bạn, đội ngũ Tutto cam kết một dịch vụ tronnj gói tốt nhất từ A đến Z
									.icon
										i.fa.fa-angle-double-right(aria-hidden="true")
					.row
						.col
							figure
								img(src="./img/home_new_02.png", alt="", srcset="")
								figcaption
									h2 Tìm lốp xe phù hợp
									span
									.form-group
										select.form-control
											option Chọn loại
											option 1
											option 2
										select.form-control
											option Chọn mẫu xe
										select.form-control
											option chọn kích thước
									.icon
										i.fa.fa-angle-double-right(aria-hidden="true")
	//- Tin tức-New
	section.home-new
		.container
			.tieude
				h2 tin tức
			.cheo
					p
			.row.new
				.col-sm-7.new-left
					figure
						img.img-fluid(src="./img/home_new_03.png", alt="", srcset="")
						figcaption
							p Những tín năng của hoa lốp xe ôtô
				.col-sm-5.new-right
					.row.no-gutters
						.col-sm-6.col-md-6.new-img1.order-sm-1
						.col-sm-6.col-md-6.new-text1.order-sm-2
							h2 dấu hiệu nhận biết cần thay lốp xe máy ngay lập tức
							p Trong quá trình sử dụng, khi nhận thấy những biểu hiện dưới đây, bạn cần phãi thay lốp xe ngay lập tức để đảm bảo chuyến
							.link
								a.btn.btn-info(href="#") Xem thêm
					.row.no-gutters
						.col-sm-6.col-md-6.new-img2.order-sm-4
						.col-sm-6.col-md-6.new-text1.order-sm-3
							h2 Turaza T005 - Lốp xe đặc biệt, êm an toàn ngay cả khi lái xe dưới mưa
							p Bridgestore Việt Nam, Tập đoàn Bridgestore, tập đoàn sản xuất cao su và lốp xe lớn nhất thế giới, chính thức ra mắt
							.link
								a.btn.btn-info(href="#") Xem thêm


