<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row
			.col-sm-2
				h2 Đăng ký nhận bảng tin
			.col-sm-4
				p.text Đăng ký nhận email để nhận những thông tin mới nhất từ Tutto Việt Nam
			.col-sm-6
				.input-group.mb-3
					input.form-control(type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2")
					.input-group-append
						button.btn.btn-outline-secondary(type="button") Button
		.row
			.col
				figure
					img.img-fluid(src="./img/line_footer_1.png", alt="")
		.row
			.col-sm-2
				img.mb-2(src="./img/logo_footer_home.png" alt="")
			.col-sm-4
				h2 Công ty TNHH Tutto Việt Nam
				ul.list-unstyled.text-small
					li
						a.text(href="#") 611/27 Điện Biện Phủ, Phường 1, Quận 3
					li
						a.text(href="#") Tp. Hồ Chí Minh, Việt Nam
					li
						a.text(href="#") ĐT: 028 26456258
					li
						a.text(href="#") Mail: info@tuttovietnam.com.vn
			.col-6.col-sm-2
				h2 Sản phẩm
				ul.list-unstyled.text-small
					li
						a.text(href="#") Lốp xe tải - xe buýt
					li
						a.text(href="#") Lốp xe nâng
					li
						a.text(href="#") Lốp xe nông nghiệp
					li
						a.text(href="#") Lốp xe công nghiêp
					li
						a.text(href="#") Lốp xe du lịch
			.col-6.col-sm-2
				h2 Giới thiệu
				ul.list-unstyled.text-small
					li
						a.text(href="#") Về Tutto Việt Nam
					li
						a.text(href="#") Hệ thống phân phối
			.col-sm-2
				h2 Liên kết
				ul.list-unstyled.text-small
					li
						a.text(href="#") Chương trình khuyến mãi
					li
						a.text(href="#") Tin tức
					li
						a.text(href="#") Thư viện
					li
						a.text(href="#") Tuyển dụng
					li
						a.text(href="#") Liên hệ
